<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
	<title> {{ page.title }} </title>

    <link rel="stylesheet" href="http://luochen1990.github.io/stylesheets/styles.css" />
    <link rel="stylesheet" href="http://luochen1990.github.io/stylesheets/pygment_trac.css" />
    <link rel="stylesheet" href="http://luochen1990.github.io/stylesheets/searchbox.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="wrapper">
      <header>
	    <h1><a href="http://luochen1990.github.io">blog.luochen1990.com</a></h1>
        <p class="view"><a href="https://github.com/luochen1990">Visit My GitHub</a></p>
		
		
		<form class="form-wrapper cf" name="cse" id="searchbox" action="http://luochen1990.github.io/search.html">
			<input type="hidden" name="cref" value="" />
			<input type="hidden" name="ie" value="utf-8" />
			<input type="hidden" name="hl" value="zh-CN" />
			<input type="text" name="q" placeholder="在博客中搜索..." required />
			<button type="submit" name="sa">Search</button>
		</form> 
		
		<form name="cse" id="searchbox" action="http://luochen1990.github.io/search.html">
		  <input type="hidden" name="cref" value="" />
		  <input type="hidden" name="ie" value="utf-8" />
		  <input type="hidden" name="hl" value="zh-CN" />
		  <input name="q" type="text" size="30" placeholder="在博客中搜索..."/>
		  <input type="submit" name="sa" value="搜索" />
		</form>
		
      </header>
	  
	  <section>
	    <h3>{{ page.title }}</h3>
		{{ content }}
	  </section>
	  
	  <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
	
	<script src="javascripts/scale.fix.js"></script>
  </body>
</html>

